$acier: "acier-bat-gris",sans-serif;
$adelle: "adelle",serif;
$black: #363636;
$green: #74CEB7;
$sea: #2C858D;
$blue: #004056;
$yellow: #FFFFCB;

.black { color: $black !important; }
.green { color: $green !important; }
.sea { color: $sea !important; }
.blue { color: $blue !important; }